
@using WebApplicationApisIshango.Models.CRUD
@inject ClassMvtCompte comptemvtDAL

<div class="container" id="balanceModal">
    <div class="row">
        <p class="balance">Solde = @solde $</p>
    </div>
</div>

@code {

    //ClassMvtCompte.tSolde solde = new ClassMvtCompte.tSolde();

        public string solde;

        protected override void OnInitialized()
        {
            solde = comptemvtDAL.GetSolde1("413000001");
        }

    }


