



<table class="table table-responsive table-striped table-bordered">
    <caption>
        <h3>MES RELEVES</h3>
    </caption>

    <thead>
        <tr>
            <th>ID</th>
            <th>LIBELE</th>
            <th>DATE</th>
            <th>ENTREES</th>
            <th>SORTIES</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Transfert au compte 4100000012</td>
            <td>2020-06-27</td>
            <td>200.0</td>
            <td>0.0</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Transfert au compte 4100000012</td>
            <td>2020-06-27</td>
            <td>200.0</td>
            <td>0.0</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Transfert au compte 4100000012</td>
            <td>2020-06-27</td>
            <td>200.0</td>
            <td>0.0</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Transfert au compte 4100000012</td>
            <td>2020-06-27</td>
            <td>200.0</td>
            <td>0.0</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Transfert au compte 4100000012</td>
            <td>2020-06-27</td>
            <td>200.0</td>
            <td>0.0</td>
        </tr>
    </tbody>
</table>


@code {

}
